:root {
    /* 기본색 */
    --color_basic: #000; 

    /* 배경색 */
    --bg_basic: #f8f9fa;
    --bg_white: #ffffff;

    /* 폰트 */
    --font_basic : "GmarketSans";
    --font_nexon : "NexonLv1Gothic";
    --font_pretendard : "Pretendard";


}